/*-------------------------+
 *  | Site: Open City         |
 *   | Part: Master stylesheet |
 *    +-------------------------*/


/* Imports
 * =====================================================================*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800);
@import "reset.css";


/* Fonts
 * ======================================================================*/
body { font-family: "Open Sans", Arial, sans-serif; }


/* Basics
 * ======================================================================*/
a { color: #012d4c; text-decoration: none; }
a:hover { text-decoration: underline; }
body { background: url(../images/bg.png) repeat-x 0 0; font-size: 16px; line-height: 1.4; padding: 20px 0; }
p { margin-bottom: 2em; }
h1 { margin-bottom: 16px; }
h1, h2 { text-align: center; }
h2 { color: #fff; font-size: 28px; font-weight: 300; margin-bottom: 20px; }


/* Layout
 * ======================================================================*/
.clear { clear: both; }
#page { margin: 0 auto; width: 980px; }


/* Content
 * ======================================================================*/
#content { padding-top: 20px; text-align: center; }

/* Icons */
[class *= "icon"] { background-repeat: no-repeat; background-position: 0 50%; line-height: 1; margin-right: 0.25em; padding: 10px 0 10px 35px; }
.icon-twitter { background-image: url(../images/twitter.png); }

/* People */
#people { font-size: 14px; }

/* Projects */
.projects { font-size: 21px; font-weight: bold; list-style: none; margin: 0; text-align: center; }
.projects img { box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); display: block; margin-bottom: 10px; width: 100%; }
.projects { margin: 10px auto; }
.projects li { float: left; margin-right: 3%; width: 22%; }

